@font-face {
  font-family: 'main';
  src: url('../fonts/anirm___.ttf') format('truetype');
}

@font-face {
  font-family: "elvish";
  src: url('../fonts/tngani.ttf') format('truetype');
}

@font-face {
  font-family: 'gollum';
  src: url('../fonts/partybusiness.ttf') format('truetype');
}

body {
  background-repeat: repeat-y;
  font-family: 'main';
  font-size: 13px;
  background-image: url("../img/bg_dark.jpg");
}

p {
  font-family: 'main';
}

p.textinto {
  font-size: 64px;
}

.gollum {
  font-size: 32px;
  font-weight: 500;
  font-family: 'gollum';
}

.gollum2 {
  font-size: 24px;
  font-weight: 500;
  font-family: 'gollum';
}

.gollum3 {
  font-size: 48px;
  font-weight: 500;
  font-family: 'gollum';
}

.elvish {
  /*UJ*/
  font-family: 'elvish';
  color: #FF8000;
}

.underlined {
  text-decoration: underline;
}

h3.inline {
  display: inline-table;
  padding-bottom: 20px;
  padding-top: 10px;
}

h3.elvish {
  /*UJ*/
  display: inline-table;
  color: #FF6000;
  font-family: 'elvish';
  /*height : 14px;*/
  vertical-align: 30%;
  padding-bottom: 5px;
  padding-top: 5px;
}

hr {
  border: none;
  /* Set the hr color */
  color: #FF6000;
  /* old IE */
  background-color: #FF6000;
  /* Modern Browsers */
  height: 5px;
  border: 0;
  box-shadow: 0 10px 10px -10px #8c8b8b inset;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}

th {
  background-color: grey;
  color: black;
}

caption {
  font-weight: bold;
}

td, tr {
  color: grey;
}

#footer-content {
  min-height: 100px;
  background-image: url("../img/bg_dark.jpg");
  color: white;
}

textarea.form-control {
  height: 120px;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

div {
  display: block;
}

.center-col {
  float: none;
  margin: 0 auto;
}

.vertical-center {
  min-height: 100%;
  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh;
  /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}

.center-pills {
  display: flex;
  justify-content: center;
}

.bg-orange {
  background-color: #FF6000;
}

.orange {
  color: #FF6000;
}

.black {
  color: black;
}

.grey {
  color: grey;
}

.white-font {
  /*color : #FAFAFA  whiter*/
  color: #F2F2F2 !important;
}

.grey-font {
  color: #BDBDBD;
}

.bg-dark {
  background-image: url("../img/bg_dark.jpg");
}

.bg-light {
  background-image: url("../img/bg_light.png");
}

a {
  color: grey;
  font-size: 18px;
}

a:hover, a:active {
  color: #FF8000;
  text-decoration: underline !important;
}

.unround-top-corners {
  -webkit-border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-topright: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-width: 0px 0px thick 0px;
}


/* Character wanted dead CSS*/

.widget__overlay {
  margin: auto;
  background: rgba(255, 255, 255, 0);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.widget__overlay:hover {
  background: rgba(0, 0, 0, 0.6);
}

.widget__overlay:hover .widget__reward {
  display: none;
}

.display_none {
  display: none;
}

.widget__overlay:hover .gandalf {
  display: none;
  bottom: 70%;
  font-size: 2em;
  color: #fff;
}

.widget__overlay:hover .gandalf2 {
  display: block;
  bottom: 30%;
  font-size: 2em;
  color: #fff;
}

.widget__reward {
  margin: auto;
  width: 80%;
  position: absolute;
  left: 0;
  right: 0;
  top: 6%;
  padding: 16px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 6px;
  font-size: 2em;
}

.widget__reward span {
  color: #FF6000;
}


/*.story {
margin-top: 30px;
font-size: 25px;
font-weight: 400;
color: black;
background-color: #fff;
border-radius: 20px;
padding-top: 20px;
padding-bottom: 20px;
width: 300px;
}*/

.widget__reward2 {
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10%;
  text-align: center;
  font-size: 4em;
  color: #fff;
  font-weight: 400;
}

.gandalf {
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 30%;
  text-align: center;
  font-size: 4em;
  color: #fff;
  font-weight: 400;
}

.dead {
  text-decoration: line-through;
  text-decoration-color: #FF6000;
}

.vertical-center-row {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container {
  padding-bottom: 20px;
}

.nopaddingbot {
  padding-bottom: 0px;
}

textarea.form-control {
  height: 300px;
}

.panel-default {
  border-color: #000000;
}


/* Classe principale de la barre de navigation */

.navbar-default {
  /* Couleur de fond de la barre de navigation */
  background-color: #F8F8F8;
  border-color: #FF6000;
}


/* Couleur des titres affichés dans la barre */

.navbar-default .navbar-brand {
  color: #FF6000;
}


/* Couleur utilisée lors du passage de la souris sur un titre de la barre */

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #5E5E5E;
}


/* Couleur utilisée pour les liens */

.navbar-default .navbar-nav>li>a {
  color: #FF6000;
}


/* Couleur utilisée pour les liens lorsque la souris passe dessus */

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  color: #333;
}


/* Couleur utilisée pour le lien actif (celui qui est affiché sur la page) */

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  color: #FFF;
  background-color: #FF6000;
}


/* Couleur utilisée pour un menu dépliant lorsqu'il est ouvert */

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
  color: #FFF;
  background-color: #D5D5D5;
}


/* Caret */

.navbar-default .navbar-nav>.dropdown>a .caret {
  border-top-color: #FF6000;
  border-bottom-color: #FF6000;
}

.navbar-default .navbar-nav>.dropdown>a:hover .caret, .navbar-default .navbar-nav>.dropdown>a:focus .caret {
  border-top-color: #333;
  border-bottom-color: #333;
}

.navbar-default .navbar-nav>.open>a .caret, .navbar-default .navbar-nav>.open>a:hover .caret, .navbar-default .navbar-nav>.open>a:focus .caret {
  border-top-color: #FFF;
  border-bottom-color: #FFF;
}


/* Version mobile, le menu devient une icône qui déroule une liste avec le menu en vertical */

.navbar-default .navbar-toggle {
  border-color: #DDD;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #DDD;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #CCC;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #FF6000;
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover, .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #333;
  }
}

.skewbutton {
  -ms-transform: skewX(-20deg);
  /* IE 9 */
  -webkit-transform: skewX(-20deg);
  /* Safari */
  transform: skewX(-20deg);
  /* Standard syntax */
  padding-top: 15px;
  padding-bottom: 15px;
}

.moreinfo {
    padding-top: 5vh;
    font-size: 2vh;
    text-align: center;
    line-height: 6vh;
